@keyframes sway
  from, 50%, to
    transform rotateZ(0)
  25%
    transform-origin: 30% 50%
    transform rotateZ(-35deg)
  75%
    transform-origin: 70% 50%
    transform rotateZ(35deg)

.sway
  animation-name sway
