@keyframes rotate2dLeft
    from
        transform(none)
    to
        transform(rotate(-360deg))

@keyframes rotate2dRight
    from
        transform(none)
    to
        transform(rotate(360deg))

.rotateAntiClowise
    animation-name: rotate2dLeft

.rotateClowise
    animation-name: rotate2dRight
