@keyframes riseIn
    0%
        opacity: 0
        transform: translateY(50%)
    100%
        opacity: 1
        transform: none

@keyframes riseInL
    0%
        opacity: 0
        transform: translateY(20%)
    100%
        opacity: 1
        transform: none

.riseIn
    animation-name: riseIn

.riseIn-light
    animation-name: riseInL
