@keyframes riseOut
    100%
        opacity: 0
        transform: translateY(-30%)

@keyframes riseOutL
    100%
        opacity: 0
        transform: translateY(-10%)

.riseOut
    animation-name: riseOut

.riseOut-light
    animation-name: riseOutL
