@keyframes jumping
    from, to
        transform: translateY(0px) scale(1,1)
    30%, 50%
        transform: translateY(-25%) scale(1,1)
    40%
        transform: translateY(-22%) scale(1.1,0.7)
    70%, 90%
        transform: translateY(25%) scale(1,1)
    80%
        transform: translateY(22%) scale(1.1,0.7)

.jumping
    animation-name: jumping
    animation-timing-function: cubic-bezier(0.24, 0.4, 0.73, 0.55)
