@keyframes fallOut
    100%
        opacity: 0
        transform: translateY(50%)

@keyframes fallOutL
    100%
        opacity: 0
        transform: translateY(20%)

.fallOut
    animation-name: fallOut

.fallOut-light
    animation-name: fallOutL
