@keyframes swim-hor-in
    from, to
        transform: translateX(5%) skewX(0deg)
    25%
        transform: translateX(-5%) skewX(20deg)
    50%
        transform: translateX(-5%) skewX(0deg)
    75%
        transform: translateX(5%) skewX(-20deg)

@keyframes swim-hor
    from,to
        transform: translateX(0%) skewX(0deg)
    20%
        transform: translateX(-5%) skewX(20deg)
    40%
        transform: translateX(-5%) skewX(0deg)
    60%
        transform: translateX(5%) skewX(-20deg)
    80%
        transform: translateX(5%) skewX(20deg)

.swim-hor
    animation-name: swim-hor

.swim-hor-in
    animation-name: swim-hor-in
