@import '_fn'

$time = 375ms
$back = 150ms
$long = $time * 2
$enterbz = cubic-bezier(0.2, 0.1, 0.1, 1)
$exitsbz = cubic-bezier(0.8, 0, 1, 0.7)
$movebz = cubic-bezier(0.8 , 0 , 0.2 , 1)

.syuanpi
  animation-duration: $time
  animation-fill-mode: both
  &.infinite
    animation-iteration-count: infinite
  &.long
    animation-duration: $long
  &.forwards
    animation-fill-mode: forwards
  createBackward($back, 1 2 3 4 5)
