@charset "UTF-8";
@import "./func"

$time = 0.5s

.syuanpi
    animation-duration: $time
    animation-fill-mode: both
    animation-timing-function: ease-in-out
    transform: translateZ(0)
    &.infinite
        animation-iteration-count: infinite
    &.long
        animation-duration:2.33s
    &.back-1
        animation-delay: $time
    &.back-2
        animation-delay: $time*2
    &.back-3
        animation-delay: $time*3
    &.back-4
        animation-delay: $time*4
    &.back-5
        animation-delay: $time*5
    &.forwards
        animation-fill-mode: forwards

//pulse
@import "animation/pulse/pulse"
//blink
@import "animation/blink/blink"
//bloom
@import "animation/bloom/bloom"
//dead
@import "animation/dead/dead"
//fade
@import "animation/fade/fadeIn"
@import "animation/fade/fadeOut"
//fall
@import "animation/fall/fallIn"
@import "animation/fall/fallOut"
//rise
@import "animation/rise/riseIn"
@import "animation/rise/riseOut"
//swim
@import "animation/swim/float"
@import "animation/swim/swim"
//rotate2d
@import "animation/rotate2d/rotate2d"
//jumping
@import "animation/jump/jump"
//grow
@import "animation/grow/grow"
//car
@import "animation/car/carIn"
@import "animation/car/carOut"
