@charset "UTF-8";
@import "./func"
.syuanpi
    animation-duration(0.57s)
    animation-timing-function: ease-in-out
    &.infinite
        animation-iteration-count: infinite
    &.long
        animation-duration(2.33s)
    &.forwards
        animation-fill-mode(forwards)

//pulse
@import "animation/pulse/pulse"
//blink
@import "animation/blink/blink"
//bloom
@import "animation/bloom/bloom"
//dead
@import "animation/dead/dead"
//fade
@import "animation/fade/fadeIn"
@import "animation/fade/fadeOut"
//fall
@import "animation/fall/fallIn"
@import "animation/fall/fallOut"
//rise
@import "animation/rise/riseIn"
@import "animation/rise/riseOut"
//swim
@import "animation/swim/swim"
@import "animation/swim/swim-hor"
//rotate2d
@import "animation/rotate2d/rotate2d"
//jumping
@import "animation/jump/jump"s
//grow
@import "animation/grow/grow"

