transform()
    -ms-transform: arguments
    -webkit-transform: arguments
    transform: arguments

transition-duration()
    transition-duration: arguments
    -webkit-transition-duration: arguments

animation-duration()
    animation-duration: arguments
    -webkit-animation-duration: arguments

animation-fill-mode()
    -webkit-animation-fill-mode: arguments
    animation-fill-mode: arguments

vendors = official
