transform()
    -webkit-transform: arguments
    transform: arguments

transition-duration()
    transition-duration: arguments
    -webkit-transition-duration: arguments

animation-duration()
    animation-duration: arguments
    -webkit-animation-duration: arguments

animation-delay()
    animation-delay: arguments
    -webkit-animation-delay: arguments

animation-fill-mode()
    -webkit-animation-fill-mode: arguments
    animation-fill-mode: arguments

animation-name()
    animation-name: arguments
    -webkit-animation-name: arguments

animation-timing-function()
    animation-timing-function: arguments
    -webkit-animation-timing-function: arguments

nimation-iteration-count()
    animation-iteration-count: arguments
    -webkit-animation-iteration-count: arguments

vendors = official
