@charset "UTF-8"

@import "_base"
@import "_custom"

// fade-entrances
@import "animation/fade-entrances/fadein"
@import "animation/fade-entrances/fadeinDown"
@import "animation/fade-entrances/fadeinUp"
@import "animation/fade-entrances/fadeinLeft"
@import "animation/fade-entrances/fadeinRight"
// fade-exits
@import "animation/fade-exits/fadeout"
@import "animation/fade-exits/fadeoutDown"
@import "animation/fade-exits/fadeoutUp"
@import "animation/fade-exits/fadeoutLeft"
@import "animation/fade-exits/fadeoutRight"
// shuttle
@import "animation/shuttle/shuttleIn"
@import "animation/shuttle/shuttleOut"
// zoom
@import "animation/zoom/zoomIn"
@import "animation/zoom/zoomOut"
// rotate2d
@import "animation/rotate2d/rotate2dLeft"
@import "animation/rotate2d/rotate2dRight"
// rotate3d
@import "animation/rotate3d/rotate3dLeft"
@import "animation/rotate3d/rotate3dRight"
// melt
@import "animation/melt/melt"
// cluster
@import "animation/melt/clarity"
// tv
@import "animation/television/tvIn"
@import "animation/television/tvOut"
// pulse
@import "animation/specials/pulse"
// blink
@import "animation/specials/blink"
// sway
@import "animation/specials/sway"
// flash
@import "animation/specials/flash"

// swim
@import "animation/specials/float"
@import "animation/specials/swim"
// jumping
@import "animation/jump/jump"
@import "animation/jump/jump-in"
@import "animation/jump/jump-out"
// grow
@import "animation/grow/grow"
// car
@import "animation/car/carIn"
@import "animation/car/carOut"
