@charset "UTF-8"

@import "_base"
@import "_custom"

//pulse
@import "animation/pulse/pulse"
//blink
@import "animation/blink/blink"
//bloom
@import "animation/bloom/bloom"
//dead
@import "animation/dead/dead"
//fade-entrances
@import "animation/fade-entrances/fadein"
@import "animation/fade-entrances/fadeinDown"
@import "animation/fade-entrances/fadeinUp"
@import "animation/fade-entrances/fadeinLeft"
@import "animation/fade-entrances/fadeinRight"
//fade-exits
@import "animation/fade-exits/fadeout"
@import "animation/fade-exits/fadeoutDown"
@import "animation/fade-exits/fadeoutUp"
@import "animation/fade-exits/fadeoutLeft"
@import "animation/fade-exits/fadeoutRight"
//swim
@import "animation/swim/float"
@import "animation/swim/swim"
//rotate2d
@import "animation/rotate2d/rotate2d"
//jumping
@import "animation/jump/jump"
@import "animation/jump/jump-in"
@import "animation/jump/jump-out"
//grow
@import "animation/grow/grow"
//car
@import "animation/car/carIn"
@import "animation/car/carOut"
//tv
@import "animation/television/tvIn.styl"
@import "animation/television/tvOut.styl"
