include ./macro.pug
.container
  +frame('Fade Entrances')
    +item('fadeIn')
    +item('fadeInUp')
    +item('fadeInLeft')
    +item('fadeInDown')
    +item('fadeInRight')

  +frame('Fade Exits')
    +item('fadeOut')
    +item('fadeOutUp')
    +item('fadeOutRight')
    +item('fadeOutDown')
    +item('fadeOutRight')

  +frame('Melt & Clarity')
    +item('clarity')
    +item('melt')

  +frame('Shuttle')
    +item('shuttleIn')
    +item('shuttleOut')

  +frame('Zoom')
    +item('zoomIn')
    +item('zoomOut')

  +frame('Television')
    +item('tvIn')
    +item('tvOut')

  +frame('Rotate')
    +item('rotateLeft')
    +item('rotateRight')
    +item('rotate3dLeft')
    +item('rotate3dRight')

  +frame('Specials')
    +item('jumping')
    +item('blink')
    +item('flash')
    +item('pulse')
    +item('swim')
