header
  nav.nav.nostyle
    .title Syuanpi
    ul
      li
        a(href='#') NORMAL
      li.disabled HOVER
      li.disabled SCENE
  .title.nostyle
    .text.syuanpi.clarity.long Syuanpi.css
    a(href='https://raw.githubusercontent.com/colmugx/syuanpi.css/master/dist/syuanpi.min.css', style='margin: 0 16px')
      button.s-button.nostyle Download
    a(href='https://github.com/colmugx/syuanpi.css', style='margin: 0 16px')
      button.s-button.nostyle GitHub
.subtitle.syuanpi.jumping.infinite.back-5 向上滚动
