@keyframes fadeOutLeft
  from
    opacity 1
    transform translate3d(0, 0, 0)
  30%
    opacity 0
  to
    opacity 0
    transform translate3d(-100%, 0, 0)

@keyframes fadeOutLeftShort
  from
    opacity 1
    transform translate3d(0, 0, 0)
  30%
    opacity 0
  to
    opacity 0
    transform translate3d(-50px, 0, 0)

.fadeOutLeft
  animation-name: fadeOutLeft
  animation-timing-function: $exitsbz

.fadeOutLeftShort
  animation-name: fadeOutLeftShort
  animation-timing-function: $exitsbz
