@keyframes fadeOutDown
  from
    opacity 1
    transform translate3d(0, 0, 0)
  30%
    opacity 0
  to
    opacity 0
    transform translate3d(0, 100%, 0)

.fadeOutDown
  animation-name: fadeOutDown
  animation-timing-function: $exitsbz
